* {
	box-sizing: border-box;
}
body {
	font-size: 18px;
	line-height: 31px;
}
#wrap {
	max-width: 90%;
	margin: 0 auto;
}
#header {
	min-height:350px; 
}
#header img {
	width: 100%;
}
#main-box {
	width: 100%;
	margin: 0 auto;
}
#content h1 {
	text-transform: uppercase;
	margin-left: 10px;
}
nav.main-menu ul {
	width: 100%
}
nav.main-menu ul li {
	float: left;
	padding: 5px 10px;
	margin-right: 10px;
	list-style: none;
	background-color: rgb(255, 88, 23);
}
li.first {
	margin-left: 0 !important;	
}
nav.main-menu ul li a{
	text-transform: uppercase;
	text-decoration: unset;
	color: white;
}
.sub-box {
	width: 30%;
	float: left;
	padding: 1px;
	border: 1px solid #999;
	border-radius: 2%;
	height: 480px;
	margin: 10px;
	background-color: rgb(255, 238, 195);
}
.sub-box img {
	width: 100%;
	max-height: 450px;
}